---
import { i18n } from "@consts/i18n.files";

export type NavigationChild = {
    id: string;
    name: string;
    href: string;
    translate_key: string;
};

export type NavigationItem = {
    id: string;
    name: string;
    href: string;
    translate_key: string;
    children: readonly NavigationChild[];
};

type Props = {
    translate: (typeof i18n)[keyof typeof i18n];
    navigation: readonly NavigationItem[];
    locale: string;
    pathname: string;
};

const { translate, navigation, locale, pathname } = Astro.props as Props;
---

<aside
    id="site-aside"
    class="fixed inset-0 z-10000 hidden overflow-hidden bg-white backdrop-blur-2xl border-r border-black/5 shadow-2xl"
>
    <div
        class="flex items-center justify-between px-6 pt-6 pb-3 border-b border-black/5"
    >
        <div class="flex flex-col">
            <span
                class="text-[11px] uppercase tracking-[0.25em] text-black/35 font-medium"
            >
                {translate.school_name_variants.ukrainian_school}
            </span>

            <span class="text-2xl font-black tracking-tight text-black">
                {translate.school_name_variants.name.replace(/[«»]/g, "")}
            </span>
        </div>

        <button
            id="aside-close"
            type="button"
            class="group cursor-pointer flex size-11 items-center justify-center rounded-2xl bg-black/3 hover:bg-black/6 active:scale-95 transition-all duration-200 hover:scale-103"
        >
            <i class="icon-[ph--x] text-xl text-black"></i>
        </button>
    </div>

    <nav
        id="aside-nav"
        class="flex flex-1 flex-col gap-1 overflow-y-auto px-3 py-5"
    >
        <div id="aside-navigation">
            <div class="px-4 pb-5">
                <span
                    class="text-[11px] uppercase tracking-[0.25em] text-yellow-500"
                >
                    {translate.aside.navigation}
                </span>
            </div>

            {
                navigation.map((item) => {
                    const hasChildren = item.children.length > 0;

                    if (hasChildren) {
                        return (
                            <div class="w-full flex flex-col">
                                <div class="w-full flex justify-start items-center mt-2 px-5">
                                    <div class="bg-black/20 h-px w-full max-w-40"></div>
                                </div>
                                <button
                                    type="button"
                                    class="aside-open-children group flex w-full items-center justify-between rounded-3xl px-5 py-4 text-left hover:bg-black/4 active:scale-[0.985] transition-all duration-200"
                                    data-children={JSON.stringify(
                                        item.children,
                                    )}
                                >
                                    <div class="flex flex-col">
                                        <span class="text-[11px] uppercase tracking-[0.2em] text-yellow-500">
                                            {translate.aside.next}
                                        </span>

                                        <span class="mt-1 text-[22px] leading-none font-bold tracking-tight text-black">
                                            {
                                                translate.header[
                                                    item.translate_key as keyof typeof translate.header
                                                ]
                                            }
                                        </span>
                                    </div>

                                    <div class="flex size-11 items-center justify-center rounded-2xl md:bg-black/4 md:group-hover:bg-black/6 transition-colors">
                                        <i class="icon-[material-symbols--arrow-forward-ios-rounded] text-sm text-black/60" />
                                    </div>
                                </button>
                            </div>
                        );
                    }

                    return (
                        <a
                            href={`/${locale}${item.href}`}
                            class={`group flex items-center justify-between rounded-3xl px-5 py-4 transition-all duration-200 hover:bg-black/4 active:scale-[0.985] ${pathname === `/${locale}${item.href}` ? "bg-red-500/8" : ""}`}
                        >
                            <div class="flex flex-col">
                                <span class="text-[11px] uppercase tracking-[0.2em] text-black/35">
                                    {translate.aside.page}
                                </span>

                                <span
                                    class={`mt-1 text-[22px] leading-none font-bold tracking-tight ${pathname === `/${locale}${item.href}` ? "text-red-500" : "text-black"}`}
                                >
                                    {
                                        translate.header[
                                            item.translate_key as keyof typeof translate.header
                                        ]
                                    }
                                </span>
                            </div>
                        </a>
                    );
                })
            }
        </div>

        <div id="aside-children" class="hidden">
            <button
                id="aside-back"
                type="button"
                class="mb-4 flex items-center gap-3 rounded-2xl px-4 py-3 text-left hover:bg-black/4 transition-all duration-200"
            >
                <div class="flex flex-row justify-center items-center gap-2">
                    <i
                        class="icon-[material-symbols--arrow-left-alt] text-xl text-yellow-500"
                    ></i>
                    <span
                        class="uppercase font-medium tracking-[0.25em] text-yellow-500"
                    >
                        {translate.aside.back}
                    </span>
                </div>
            </button>

            <div id="aside-children-content"></div>
        </div>
    </nav>

    <div class="border-t border-black/5 px-6 py-5">
        <div class="flex items-center justify-between">
            <div class="flex flex-col">
                <span
                    class="text-[11px] uppercase tracking-[0.2em] text-black/35"
                >
                    {translate.school_name_variants.city}
                </span>

                <span class="mt-1 text-sm font-medium text-black/75">
                    {translate.school_name_variants.ukrainian_school}
                </span>
            </div>
        </div>
    </div>
</aside>
