---
import "../styles/global.css";
import type { Language } from "../types/language.type";
import "/node_modules/flag-icons/css/flag-icons.min.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { i18n } from "../consts/i18n.files";
import ArrowTop from "../components/ArrowTop.astro";
import { ClientRouter } from "astro:transitions";

const { title } = Astro.props;
const locale = Astro.params.locale as Language;
const translate = i18n[locale];
---

<!doctype html>
<html lang={`${locale || "es-ES"}`}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="shortcut icon" href="/favicon.png" type="image/x-icon" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{translate.site_titels.label_plus_city} - {title}</title>

		<meta charset="UTF-8">
		<meta name="description" content={translate.meta_tags.description}>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="keywords" content={translate.meta_tags.key_words}>
		<meta name="author" content={translate.school_name_variants.full_name}>
		<meta http-equiv="content-language" content={locale}>
		<meta property="og:type" content="website">
		<meta property="og:title" content={translate.school_name_variants.footer_full_name}>
		<meta property="og:description" content={translate.meta_tags.description}>
		<meta property="og:image" content="https://www.mriya-bcn.vercel.app/logotip.jpg">
		<meta property="og:url" content={`https://www.mriya-bcn.vercel.app/`}>
		<meta property="og:site_name" content={translate.meta_tags.name}>
		<meta property="og:locale" content={locale}>
		<meta name="referrer" content="strict-origin-when-cross-origin">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="dns-prefetch" href="//fonts.gstatic.com">
		<link rel="alternate" hreflang="es-ES" href="https://www.mriya-bcn.vercel.app/es-ES/">
		<link rel="alternate" hreflang="en-EN" href="https://www.mriya-bcn.vercel.app/en-EN/">
		<link rel="alternate" hreflang="uk-UA" href="https://www.mriya-bcn.vercel.app/uk-UA/">
		<link rel="alternate" hreflang="ca-ES" href="https://www.mriya-bcn.vercel.app/ca-ES/">
		<script is:inline type="application/ld+json">
			{
				"@context": "https://schema.org",
				"@type": "WebSite",
				"name": "Mriya BCN",
				"url": "https://www.mriya-bcn.vercel.app"
			}
		</script>
		<ClientRouter />
	</head>
	<body class="w-full min-h-screen flex flex-col">
		<Header />
		<main class="w-full flex flex-col flex-1">
			<slot />
		</main>
		<Footer />
		<ArrowTop />
	</body>
</html>

<style is:global>
	.invert-color,
	.invert-color-opaco {
		animation: invert-color linear forwards;
		animation-timeline: scroll();
		animation-range: 0 250px;
	}

	.invert-color {
		color: #ffffff;
	}

	.invert-color-opaco {
		color: #ffffff;
		opacity: 0.6;
	}

	@keyframes invert-color {
		from {
			color: #ffffff;
		}

		to {
			color: #000000;
		}
	}
</style>
